---
export const props = {
  title: '',
  description: '',
  date: '',
  location: {
    lat: 0,
    lng: 0,
  },
};
---

<div class="archive-item">
  <h2>{props.title}</h2>
  <p>{props.description}</p>
  <p>תאריך: {new Date(props.date).toLocaleDateString('he-IL')}</p>
  <div id="map-{props.title}" style="height: 300px;"></div>
</div>

<script>
  const mapId = 'map-' + '{props.title}';
  
  // Now that we're inside the <script> tag, you don't need curly braces
  const map = L.map(mapId).setView([props.location.lat, props.location.lng], 10);
  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  L.marker([props.location.lat, props.location.lng]).addTo(map)
    .bindPopup(props.title);
</script>